<!-- includes -->
<%- include("includes/header.ejs") %>
<body>
    <!--
        escapa caracteres de html 

        tag do ejs <%= %> 

        mantem os caracteres de html
        <%- %>
     -->
    <h4>Erro:</h4><br>
    <h5>    <%= mensagem %>   </h5>

<!-- includes -->
<%- include("includes/footer.ejs") %>