<!-- includes -->
 <%- include("includes/header.ejs") %>
<body>
    <!--
        escapa caracteres de html 

        tag do ejs <%= %> 

        mantem os caracteres de html
        <%- %>
     -->
    <h1>    <%= titulo %>   </h1>

    <!-- IF -->
     <% if (numeros) { %>
        <p>Array de numeros:</p>
        <% numeros.forEach(function(numero) { %>
            <li><%= numero %></li>
        <% }); %>
     <% } %>

    <form action="" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="numero" placeholder="Informe um numero">
        <button type="submit">Adicionar</button>
    </form>

<!-- includes -->
<%- include("includes/footer.ejs") %>